## Hello World Traditions

In [1]:
# print hello world
print ("Hello World")

Hello World

In [2]:
a = 2 + 5
b = 3 + 4
c = a + b
print(c)

14

#### Simple syntax
#### comments with \#
#### print function also adds a newline after printing the message
#### In Python 2, “print” not function but keyword (therefore can be used without parentheses)
#### In Python 3, it is a function, parentheses must

In [3]:
# Print without newline

print("Data", end =" ")
print("Science")

Data Science

## Keywords

### True, False

In [4]:
print (False == 0)
print (True == 1)

True
True

#### False : keyword, boolean false, 0
#### True : keyword, boolean true, 1

### None

In [5]:
print (None == 0)

x = None
y = None
print (x == y)

a = None
print(a)
a=2
print(a)

False
True
None
2

#### None: a null value or a void

### assert

In [6]:
# assert 5 < 3, "3 is smaller than 5"

### More Keywords:
#### and, or, not
#### if, else, elif
#### for, while
#### break, continue, pass
#### class, def, return, yield, with
#### import, from, as
#### try, except, raise, finally
#### in, is
#### global, non-local
#### lambda

## Variables

In [7]:
a = 3
A = 4
print(a)
print(A)

3
4

#### Variables in python are case sensitive

### Namespaces and Scope

In [8]:
var1 = 1 # global namespace
print(var1)
#print(var2)
#print(var3)

def function1():
    var2 = 2 # local namespace
    print(var1)
    print(var2)
    #print(var3)
    
    def function2():
        var3 = 3 # nested local namespace
        print(var1)
        print(var2)
        print(var3)
    function2()
function1()

1
1
2
1
2
3

### global and nonlocal

In [9]:
def function():
    global var
    print(var)
    var = "This vaiable is in local scope"
    print(var)
 
var = "This variable is in global scope"
function()
print(var)

This variable is in global scope
This vaiable is in local scope
This vaiable is in local scope

In [10]:
def outerFunction():
    var = 5
    def innerFunction():
        nonlocal var
        var = 10
    innerFunction()
    print (var)
 
outerFunction()

10

## Input, Output

In [11]:
input1 = input("Please enter your name: ")
# val = raw_input("Enter your name: ") # Python 2.x
print(type(input1))
print(input1)

input2 = input("Please enter your ID: ")
print(type(input2))
print(input2)
input2 = int(input2)
print(type(input2))
print(input2)

multiple_inputs = input("Please enter your name and ID: ").split()
print(type(multiple_inputs))
print(multiple_inputs[0])
print(multiple_inputs[1])
# for ip in multiple_inputs:
#     print(ip)

Please enter your name: Souro
<class 'str'>
Souro
Please enter your ID: 5
<class 'str'>
5
<class 'int'>
5
Please enter your name and ID: Souro 5
<class 'list'>
Souro
5

#### Whatever will be given, input function will convert it into a string
#### For other type, explicit typecasting required
#### For multiple inputs, using split() method

## Data Types

### int, float

In [12]:
#int
x = 1
print(type(x))

# n Python, value of an integer not restricted by number of bits, can expand to the limit of the available memory
x = 10000000000000000000000000000000000000000000
print(type(x))

x=1.1
print(type(x))

<class 'int'>
<class 'int'>
<class 'float'>

#### In Python 2.x there are two separate types “int” (which is 32 bit) and “long int” that is same as “int” of Python 3.x

### string

In [13]:
# creating a string
string = 'This is a String'
print(string)

This is a String

In [14]:
# length
print(len(string))

16

In [15]:
# accessing charecter
print(string[0])
# last charecter
print(string[-1])

T
g

In [16]:
# slicing
print (string[1:3])

hi

In [17]:
# updating charecter
string[2]='a'
string[3]='t'
print(string)

TypeError: 'str' object does not support item assignment

In [18]:
# updating whole string
string = 'Updated String'
print(string)

Updated String

In [19]:
# deleting the string
del string
print(string)

NameError: name 'string' is not defined

In [20]:
# escape
string = 'Normal part, "Escaped Part"'
print(string)
string = 'Normal part, \'Escaped Part\''
print(string)

Normal part, "Escaped Part"
Normal part, 'Escaped Part'

In [21]:
# formatting
string = "{} {}".format('Data', 'Science')
print(string)
string = "{1} {0}".format('Data', 'Science')
print(string)

Data Science
Science Data

In [22]:
# alingment
string = "|{:<5} | {:^5} | {:>5}|".format('Data', 'Science', 'Course')
print(string)

|Data  | Science | Course|

In [17]:
# formatting using %

value = 1
print ("Value as string = %s" %(value))

print ("Value as raw data = %r" %(value))
  
print ("Value as integer = %d" %(value)) 
print ("Value as float = %f" %(value))

value = 1234.5678
print('The value upto 2 decimal format is = %.2f' %value)
print('{0:.2f}'.format(value))
print(round(value,2))

Value as string = 1
Value as raw data = 1
Value as integer = 1
Value as float = 1.000000
The value upto 2 decimal format is = 1234.57
1234.57
1234.57

### List

In [23]:
# creating a list
list = []
print(list)

list = [1,2,3]
print(list)

[]
[1, 2, 3]

In [24]:
print(len(list))
print(list[0])
print(list[-1])

3
1
3

In [25]:
list.append(4)
print(list)

list.insert(4,5)
print(list)

list.extend([6,7,8])
print(list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
print(list[:5])
print(list[2:5])
print(list[:-5])
print(list[-5:-2])

[1, 2, 3, 4, 5]
[3, 4, 5]
[1, 2, 3]
[4, 5, 6]

In [27]:
list.remove(4)
print(list)

list.pop()
print(list)

list.pop(0)
print(list)

[1, 2, 3, 5, 6, 7, 8]
[1, 2, 3, 5, 6, 7]
[2, 3, 5, 6, 7]

In [28]:
list = [1, 1.1, 'Souro', ['nested', 'list']]
print(list)

[1, 1.1, 'Souro', ['nested', 'list']]

### Tuples
#### Tuple is a collection of Python objects much like a list but immutable
#### Separated by ‘comma’ with or without the use of parentheses for grouping the data sequence

In [356]:
tuple1 = ()
print (tuple1)

tuple1 = 'Souro', 'M'
# tuple1 = ('Souro', 'M')
print(tuple1)
 
list1 = [1, 2, 3, 4, 5, 6]
print(tuple(list1))
 
tuple1 = tuple('Souro')
print(tuple1)

# tuple1[0]='M'

()
('Souro', 'M')
(1, 2, 3, 4, 5, 6)
('S', 'o', 'u', 'r', 'o')

In [34]:
tuple1 = (5, 'Souro', 3, 'M')
print(tuple1)

tuple1 = (0, 1, 2, 3)
tuple2 = ('Souro', 'M')
tuple3 = (tuple1, tuple2)
print(tuple3)

tuple3 = tuple1+tuple2
print(tuple3)

# one element in the parentheses is not sufficient, there must be a trailing ‘comma’ to make it a tuple
tuple1 = ('Souro',) * 3
print(tuple1)

(5, 'Souro', 3, 'M')
((0, 1, 2, 3), ('Souro', 'M'))
(0, 1, 2, 3, 'Souro', 'M')
('Souro', 'Souro', 'Souro')

In [359]:
tuple1 = tuple("Souro")
print(tuple1[0])
print(tuple1[1:])
print(tuple1[:1])
print(tuple1[1:4])

# del tuple1
# print(tuple1)
 
tuple1 = ("Souro", "Data", "Science")
 
a, b, c = tuple1
print(a)
print(b)
print(c)

S
('o', 'u', 'r', 'o')
('S',)
('o', 'u', 'r')
Souro
Data
Science

### Set
#### Unordered collection of data, iterable, mutable, no duplicate elements
#### Distinctness of the set’s elements -> hashability

In [361]:
set1 = set()
print(set1)
 
set1 = set("Souro")
print(set1)

# for s in set1:
#     print(s)
 
string = 'Souro'
set1 = set(string)
print(set1)
 
set1 = set(["Souro", "Data", "Science"])
print(set1)

set1 = set([1, 2, 2, 3, 3, 3, 4, 4, 4])
print(set1)

# remove() function, KeyError arises
set1.remove(2)
print(set1)

# without KeyError, use discard()
set1.discard(3)
print(set1)

# remove and return last element(but remember set is unordered) from the set
set1.pop()
print(set1)

# remove all
set1.clear()
print(set1)

set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
print(set1)

set1 = set([1, 2, ('Souro', 3), 'Data', 4, 'Science'])
print(set1)

set1 = set()
set1.add(1)
set1.add(2)
set1.add((3,4))
print(set1)

set1 = set([ 1, 2, (3, 4)])
# update() method accepts lists, strings, tuples, other sets too ...
set1.update([5, 6])
print(set1)

# set cannot have mutable elements like a list ...
# set1 = set([1, 2, ('Souro', 3), 'Data', 4, 'Science'])
# set1 = set([1, 2, ['Souro', 3], 'Data', 4, 'Science'])

set()
{'u', 'o', 'r', 'S'}
{'u', 'o', 'r', 'S'}
{'Science', 'Souro', 'Data'}
{1, 2, 3, 4}
{1, 3, 4}
{1, 4}
{4}
set()
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, ('Souro', 3), 4, 'Science', 'Data'}
{1, 2, (3, 4)}
{1, 2, 5, 6, (3, 4)}

#### set type is mutable, while the frozenset type is immutable
#### (integers, strings, tuples, frozenset -> immutable, lists, dictionaries, and sets -> mutable)
#### sets aren’t hashable(a set object can’t contain any set objects), but remember set's elements are hashable
#### but frozenset objects are hashable

In [366]:
fset1 = frozenset([1,2,3])
print(fset1)

# fset1.add(4)
# fset1.remove(2)
# fset1.discard(2)
# fset1.update([4,5])

# set1 = set([1,2,3])
# set2 = set([4,5])
# set3 = set([set1, set2])
# hash(set1)

# but set's elements are hashable
# for s in set('Souro'):
#     print(hash(s))

fset1 = frozenset([1,2,3])
fset2 = frozenset([4,5])
fset3 = frozenset([fset1, fset2])
hash(fset1)

frozenset({1, 2, 3})

-272375401224217160

### Dictionary
#### ordered collection (maintained from Python 3.7), holds key:value pair
#### values can be of any datatype, duplicated, keys can’t be repeated and and must be immutable
#### keys are case sensitive, same name but different cases of key -> treated distinctly

In [368]:
dict1 = {}
print(dict1)

dict1 = {1: 'Souro', 2: 'Data', 3: 'Science'}
print(dict1)

dict1 = dict({1: 'Souro', 2: 'Data', 3: 'Science'})
print(dict1)

# pair-wise
dict1 = dict([(1, 'Souro'), (2, 'Datascience')])
print(dict1)

# mix type
dict1 = {'Name': 'Souro', 1: [1, 2, 3, 4]}
print(dict1)

# nested dictionary
dict1 = {1: 'Souro', 2: 'M', 3:{'course1' : 'Datascience', 'course2' : 'Python'}}
 
print(dict1)

{}
{1: 'Souro1', 2: 'Data', 3: 'Science'}
{1: 'Souro', 2: 'Data', 3: 'Science'}
{1: 'Souro', 2: 'Datascience'}
{'Name': 'Souro', 1: [1, 2, 3, 4]}
{1: 'Souro', 2: 'M', 3: {'course1': 'Datascience', 'course2': 'Python'}}

In [372]:
d = { "name" : "Souro", "course" : "DataScience" }
 
# for key,value in d.iteritems(): #python 2.x
#     print(key,value)
print(d['course'])
for key,value in d.items():
    print(key,value)

DataScience
name Souro
course DataScience

### Array
#### collection of items stored at contiguous memory locations
#### all elements of the array must be of the same type

In [379]:
import array as arr
 
a = arr.array('i', [1, 2, 3])
# a = arr.array('i', [1, 2, 3, 'Souro'])

for i in range(0, 3):
    print (a[i], end =" ")
print()
 
b = arr.array('f', [1.0, 2.0, 3.0])
for i in range (0, 3):
    print (b[i], end =" ")
print()

a.insert(1, 4)
a.append(5)

for i in range (0, 5):
    print (a[i], end =" ")
print()

print(a[1:4])
print (a.index(1)) # 1st occurrence of 1

a[1] = 6
for i in range (0, 5):
    print (a[i], end =" ")
print()

print (a.pop())
print (a.pop(1))
a.remove(3) # remove 1st occurrence of 3
for i in range (0, 2):
    print (a[i], end =" ")

1 2 3
1.0 2.0 3.0
1 4 2 3 5
array('i', [4, 2, 3])
0
1 6 2 3 5
5
6
1 2

## Operators

### Arithmetic

In [89]:
a = 5
b = 3
add = a + b
print(add) 
sub = a - b
print(sub)
mul = a * b
print(mul)
div1 = a / b
print(div1)
div2 = a // b
print(div2)
mod = a % b
print(mod)
p = a ** b
print(p)

8
2
15
1.6666666666666667
1
2
125

### Relational

In [30]:
a = 5
b = 3  
print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

True
False
False
True
True
False

### Bitwise

In [31]:
a = 5
b = 3  
print(a & b)
print(a | b)
print(~a)
print(a ^ b) 
print(a >> 2)
print(a << 2)

1
7
-6
6
1
20

### Logical

In [32]:
print (False and True)
print (True or False)
print (not True)

False
True
False

### Identity

In [33]:
a1 = 1
b1 = 1
a2 = 'DataScience'
b2 = 'DataScience'
a3 = [1,2,3]
b3 = [1,2,3]
print(a1 is not b1)
print(a2 is b2)
print(a3 is b3)

False
True
False

### Membership

In [34]:
x = 'Data Science'
  
print('Sc' in x)
  
print('So' not in x)

True
True

### Precedence

In [35]:
expr = 1 + 2 * 3
print(expr)

name = "Souro"
id = 0
    
if name == "Souro" or name == "Souro1" and id >= 0 :  
    print("Correct") 
else : 
    print("Wrong")

7
Correct

###  Associativity

In [36]:
print(1 / 2 * 3)
print(3 - 1 + 2) 
print(3 - (1 + 2)) 
print(1 ** 2 ** 3)

1.5
4
0
1

## Control Statement

In [384]:
a = 5
b = 3
if a > b:
  print("b is greater than a")
if True:
    print('again')
elif True:
    print('again elif')
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a
again

#### Python does not have a switch or case statement (Until Python 3.10) ...

In [196]:
# work around as a replacement of switch case
def num_to_str(num):
    switch = {
        0: "zero",
        1: "one",
        2: "two",
    }
    return switch.get(num)
  
print (num_to_str(1))

one

## Functions

#### Instead of writing the same code again and again -> reuse code
#### Some commonly or repeatedly done task together -> make a function
#### Function helps code to be concise, non-repetitive, and organized

In [386]:
def showName():
    # docstring -> optional but good practice
    "This funcion prints a welcome message with name"
    print('Welcome {name}!'.format(name='Souro'))

print(showName.__doc__)
showName()

This funcion prints a welcome message with name
Welcome Souro!

In [389]:
def add(num1, num2):
    return num1+num2
    #print('Souro')
    #return # if nothing then return None

print(add(5,3))

8

#### pass a variable to a function, a new reference to the object is created
#### pass a reference -> change received reference to something else, connection between passed and received parameter is broken

In [390]:
def fun(list2): # x is a new reference to same list lst
    list2[0] = 0
  
list1 = [1, 2, 3, 4]
fun(list1)
print(list1)

[0, 2, 3, 4]

In [398]:
def fun1(list2):
    list2 = [5,6,7,8]  
list1 = [1, 2, 3, 4]
fun1(list1)
print(list1)

def fun2(val):
    val = 2
    print(val)
val = 1
fun2(val)
print(val)

def swapFun(val1, val2):
    temp = val1
    val1 = val2
    val2 = temp
    # val1, val2 = val2, val1
val1 = 1
val2 = 2
# val1, val2 = val2, val1
swapFun(val1, val2)
print(val1)
print(val2)

[1, 2, 3, 4]
2
1
1
2

In [401]:
# default arguments 
def fun(val1, val2=3):
    print(val1)
    print(val2)
fun(5)

def fun(val2, val1):
    print(val1)
    print(val2)
fun(val2 = 3, val1 = 5)

5
3
5
3

#### normal and keyword variable number of arguments

In [153]:
def fun(*argv):
    for arg in argv:
        print(arg)
  
fun('Souro', 'Data', 'Science')

def fun(**kwargs):
    for key, value in kwargs.items():
        print("%s : %s" % (key, value))
  
fun(name = 'Souro', course = 'DataScience')

Souro
Data
Science
name : Souro
course : DataScience

#### anonymous function
#### lambda keyword is used to create anonymous functions (lambda arguments: expression)
#### lambda functions are syntactically restricted to a single expression

In [162]:
def add(val1, val2):
    return val1+val2

add2 = lambda val1, val2 : val1+val2
  
print(add(5,3))
print(add2(5,3))

8
8

#### yield instead of return
###### suspends function’s execution and sends a value back to the caller
###### but retains enough state to enable function to resume where it is left off
###### allows to produce a series of values over time, rather than computing them at once and sending them back like a list
###### use yield when iterate over a sequence, but don’t want to store the entire sequence in memory
###### yield are used in Python generators

In [352]:
def simpleGenerator():
    yield 1
    yield 2
    yield 3
  
for value in simpleGenerator(): 
    print(value)

1
2
3

## Loops

In [163]:
count = 0
while(count < 3):   
    count = count + 1
    print("Data Science")

Data Science
Data Science
Data Science

In [164]:
count = 0
while (count < 3):   
    count = count + 1
    print('Data Science')
else:
    print('Souro')

Data Science
Data Science
Data Science
Souro

In [403]:
for i in range(3):
    print('Data Science')

Data Science
Data Science
Data Science

In [170]:
l = ["Souro", "Data", "Science"]
for i in l:
    print(i)
    
for idx in range(len(l)):
    print(l[idx])

for idx in range(len(l)):
    print(l[idx])
else:
    print('After End of for loop')
      
t = ("Souro", "Data", "Science")
for i in t:
    print(i)
      
s = "Souro"
for i in s :
    print(i)
      
d = dict()
d['name'] = 'Souro'
d['course'] = 'Data Science'
for i in d :
    print("%s  %s" %(i, d[i]))

Souro
Data
Science
Souro
Data
Science
Souro
Data
Science
After End of for loop
Souro
Data
Science
S
o
u
r
o
name  Souro
course  Data Science

In [171]:
str_list = ["Souro", "Data", "Science"]
 
iter_obj = iter(str_list)
 
while True:
  try:
    str = next(iter_obj)
    print(str)
  except StopIteration:
    break

Souro
Data
Science

In [173]:
for letter in 'DataScience': 
    if letter == 'S':
         continue
    print('Current Letter :', letter)

Current Letter : D
Current Letter : a
Current Letter : t
Current Letter : a
Current Letter : c
Current Letter : i
Current Letter : e
Current Letter : n
Current Letter : c
Current Letter : e

In [174]:
for letter in 'DataScience':
    if letter == 'S':
         break
    print('Current Letter :', letter)
  
print('Current Letter after break:', letter)

Current Letter : D
Current Letter : a
Current Letter : t
Current Letter : a
Current Letter after break: S

In [179]:
for letter in 'DataScience':
    pass
print('Last Letter :', letter)

Last Letter : e

#### pass vs continue
#### pass simply does nothing, while continue goes on with the next loop iteration

In [405]:
list1 = [0, 1, 2]
for element in list1:
    if element == 0:
        pass
    print(element)

for element in list1:
    if element == 0:
        continue
    print(element)

0
1
2
1
2

#### enumerate() is used -> printing the index number along with the value

In [180]:
for key, value in enumerate(['Souro', 'Data', 'Science']):
    print(key, value)

0 Souro
1 Data
2 Science

#### zip() is used to combine 2 similar containers(list-list or dict-dict)
#### loop exists only till the smaller container ends

In [185]:
key = ['name', 'course', 'programming']
value = ['Souro', 'DataScience', 'Python']

for key, value in zip(key, value):
    print('Key: {0},  Value: {1}'.format(key, value))

Key: name,  Value: Souro
Key: course,  Value: DataScience
Key: programming,  Value: Python

In [193]:
string_list = ['Souro', 'DataScience', 'Python', 'Math',
          'MachineLearning', 'Souro', 'Python']
 
for string in reversed(string_list) :
    print (string)
print('\n')
for string in sorted(set(string_list)):
    print(string)

Python
Souro
MachineLearning
Math
Python
DataScience
Souro


DataScience
MachineLearning
Math
Python
Souro

## File Handling
#### open () -> open a file in read or write mode, open ( ) will return a file object
#### open() function -> two arguments, file name and the mode, whether to read or write
#### mode is not mandatory ... If not passed, then 'r' by default
#### Each line of text is terminated with a special character called EOL (End of Line), by default new line character (‘\n’) in python

###### Read Only (‘r’) : Open text file for reading. The handle is positioned at the beginning of the file. If the file does not exists, raises I/O error. This is also the default mode in which file is opened.
###### Read and Write (‘r+’) : Open the file for reading and writing. The handle is positioned at the beginning of the file. Raises I/O error if the file does not exists.
###### Write Only (‘w’) : Open the file for writing. For existing file, the data is truncated and over-written. The handle is positioned at the beginning of the file. Creates the file if the file does not exists.
###### Write and Read (‘w+’) : Open the file for reading and writing. For existing file, data is truncated and over-written. The handle is positioned at the beginning of the file.
###### Append Only (‘a’) : Open the file for writing. The file is created if it does not exist. The handle is positioned at the end of the file. The data being written will be inserted at the end, after the existing data.
###### Append and Read (‘a+’) : Open the file for reading and writing. The file is created if it does not exist. The handle is positioned at the end of the file. The data being written will be inserted at the end, after the existing data.

In [416]:
file = open('file_read_example.txt', 'r')

# print(file.read())
# print(file.read(15)) # read the first 15 characters

#print(file.readline())
#print(file.readlines())

for line in file:
    #print(line)
    #print(line.lstrip()) # strips each line of a file off spaces from the right-hand side.
    print(line.rstrip()) # strips each line of a file off spaces from the left-hand side.
    #print(file.readline())

file for
read example
   example with space before
example with space after

In [419]:
file = open("file_write_example.txt","w")
file.write("file for")
file.seek(0) # seek(n) -> takes the file handle to the nth bite from the beginning
file.write("\n")
file.write("write example")

L = ["\nWrite using \n","writelines \n","method \n"]
file.writelines(L)

file.close() # close() terminates all the resources in use, frees the acquired memory space

In [420]:
file = open("file_write_example.txt",'a')
file.write("\n")
file.write("Adding in the existing file")
file.close()

In [294]:
# cleaner syntax and exceptions handling
# using this way, files opened will be closed automatically once done, so auto-cleanup ...
with open("file_read_example.txt") as file:  
    data = file.read()
    print(data)
#     data = file.readlines()
#     for line in data:
#         word = line.split()
#         print (word)
with open("file_write_example.txt", "w") as file:
    file.write("file for")
    file.write("\n")
    file.write("write example")
with open("file_write_example.txt", "a") as file:
    file.write("\n")
    file.write("Adding in the existing file")

file for
read example
   example with space before
example with space after

In [421]:
file = open('file_read_example.txt', 'r+')

print(file.read())
file.write("file write in r+ mode")
file.close()

file for
read example
   example with space before
example with space after

## Exception Handling
#### Error in Python, two types: Syntax errors and Exceptions
#### Syntax errors (wrong syntax) -> problems in a program due to which the program will stop the execution 
#### Exceptions are raised when some internal events occur which changes the normal flow of the program

In [423]:
value = 5
if(value>3):
    print("Value is greater than 3")

Value is greater than 3

In [430]:
# div = value/0
# print('After Error')
try:
    div = value/0
except ZeroDivisionError:
    print('ZeroDivisionError')
except:
    print('error')
print('Error has been handled to continue with the rest of the program')

ZeroDivisionError
Error has been handled to continue with the rest of the program

In [432]:
# enters the else block only if the try clause does not raise an exception
try:
    div = value/3
except ZeroDivisionError:
    print('ZeroDivisionError')
else:
    print('Entered into the else clause')

Entered into the else clause

In [346]:
# finally block always executes after normal termination or after try block terminates due to exception
try:
    div = value/0
except ZeroDivisionError:
    print('ZeroDivisionError')
finally:
    print('This will be always executed')

ZeroDivisionError
This will be always executed

In [348]:
value = 5

if value > 3:
  raise Exception("Sorry, no numbers above 3")

Exception: Sorry, no numbers above 3

In [435]:
class customError(Exception):

    def __init__(self, msg):
        self.msg = msg
 
    def __show__(self):
        return self.msg
 
try:
    raise(customError('Custom Error'))
 
except customError as error:
    print('A New Exception occured, error message: ',error.msg)

A New Exception occured, error message:  Custom Error